@import url(./style.css);

@media (max-width: 475px) {
  body {
    width: 100%;
    position: relative;
  }

  body,
  .form-container {
    /* height: 100%; */
    overflow: visible;
  }

  .notransition,
  .btnRenovar:hover,
  .modelo:hover,
  #icon:hover,
  #cmenu:hover,
  #btn-emprestar:hover {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

  main {
    width: 100%;
    height: 100%;
  }

  /* header */
  #logo-bbtech {
    order: -1;
  }

  .header-h1-container {
    text-align: center;
  }

  #header-txt {
    text-align: center;
    position: relative;
    margin-top: 0.3em;
  }

  .icon-usuario {
    order: -1;
    gap: 5%;
  }
  
  /* botão adicionar livro */
  .formulario {
    width: 100%;
    height: 100%;

    margin: 0;
    margin-top: 2%;
  }

  .container-cmenu {
    box-shadow: 0px 4px 4px rgba(114, 103, 2, 25%);

    background: var(--branco-bg);

    width: 100%;
    padding: 2%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  #cmenu {
    width: 90px;
    height: 90px;

    position: relative;
    align-items: center;

    top: 0;
    left: 0;
  }

  /* div com livros ou mensagem */
  .workspace {
    width: 100%;
    height: 80%;

    margin-top: 88%;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;

    order: 1;
  }

  #workspace-text {
    margin-bottom: 160%;
    width: 80%;
    height: 5%;
  }

  /* livros */
  .modelo {
    margin-top: 5%;
    z-index: 3;

    border-radius: 10px;

    width: 80%;
    height: 60%;

    overflow-y: scroll;
  }

  .titulo,
  .data_emprestimo,
  .data_prevista,
  .campocobranca,
  .cobranca {
    width: 90%;
    font-size: 1rem;
  }

  .foto {
    width: 80%;
    height: 70%;
  }

  /* modal adicionar livro */
  .back1 {
    width: 90%;
  }

  .form-container {
    height: 99.5%;
    bottom: 5.3%;
  }

  #icon-fechar {
    width: 6%;
  }

  #cadastro h1 {
    margin-top: 20%;
    width: 100%;
    font-size: 1.5rem;
  }

  .aviso {
    order: 1;
    height: 100%;
    margin: 0;
  }

  #btn-emprestar {
    width: 100%;
  }
}
