@import url(./style.css);

@media (max-width: 475px) {
  body {
    width: 100%;
    position: relative;
  }

  body,
  .form-container {
    /* height: 100%; */
    overflow: visible;
  }

  /* .notransition,
  .btnRenovar:hover,
  .modelo:hover,
  #icon:hover,
  #cmenu:hover,
  #btn-emprestar:hover {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  } */

  main {
    width: 100%;
    height: 100%;
  }

  /* header */
  #logo-bbtech {
    order: -1;
  }

  .header-h1-container {
    text-align: center;
  }

  #header-txt {
    text-align: center;
    position: relative;
    margin-top: 0.3em;
  }

  .icon-usuario {
    order: -1;
    gap: 5%;
  }
  
  /* botão adicionar livro */
  .formulario {
    width: 100%;
    height: 100%;

    margin: 0;
    margin-top: 10%;
  }

  .container-cmenu {
    /* box-shadow: 0px 4px 4px rgba(114, 103, 2, 25%); */

    background: var(--branco-bg);

    width: 100%;
    padding: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  #cmenu {
    background-color: var(--branco-bg);

    width: 90px;
    height: 90px;

    position: relative;
    align-items: center;

    top: 0;
    left: 0;
  }

  /* div com livros ou mensagem */
  .workspace {
    /* background-repeat: repeat-y; */
    background-color: var(--branco-bg);

    width: 100%;
    height: 80%;

    margin-top: 120%;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;

    order: 1;
  }

  #workspace-text {
    margin-bottom: 160%;
    width: 80%;
    height: 5%;
  }

  /* livros */
  .modelo {
    margin-top: 5%;
    z-index: 3;

    border-radius: 10px;

    width: 80%;
    height: 50%;
  }

  .titulo,
  .data_emprestimo,
  .data_prevista,
  .campocobranca,
  .cobranca {
    width: 90%;
    font-size: 1rem;
  }

  .foto {
    width: 80%;
    height: 70%;
  }

  /* modal adicionar livro */
  .back1 {
    margin-right: 3%;
    width: 96%;
  }

  .form-container {
    width: 100%;
    height: 89%;

    left: 0;
    top: 1%;

    overflow: hidden;
    /* bottom: 3%; */
  }

  #icon-fechar {
    width: 9%;
    height: 4.5%;
    /* margin-right: 50%; */
    position: relative;
    right: 5%;
  }

  #cadastro h1 {
    margin-top: 20%;
    width: 100%;
    font-size: 2rem;
  }

  .aviso {
    /* order: 1; */
    height: 100%;
    margin: 0;
  }

  #aviso-data {
    font-size: 1rem;
  }

  #btn-emprestar {
    width: 60%;
    height: 3.5rem;
    font-size: 1.5rem;
    margin-bottom: 20%;
  }
}
