@import url(./style.css);

@media (max-width: 475px) {
  body {
    width: 100%;
    position: relative;
  }

  .notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

  main {
    width: 100%;
    background: linear-gradient(to bottom, #a3c4b1 10%, #aae1c1 70%);
  }

  #logo-bbtech {
    order: -1;
  }

  .header-h1-container {
    text-align: center;
  }

  #header-txt {
    text-align: center;
    position: relative;
    margin-top: 0.4em;
  }

  .icon-usuario {
    order: -1;
    gap: 5%;
  }

  .workspace {
    width: 100%;
    height: 100%;
    margin-top: 140%;

    display: flex;
    align-items: center;
    justify-content: center;

    order: 1;
  }

  #workspace-text {
    margin-bottom: 160%;
    width: 80%;
    height: 5%;
  }

  .modelo {
    margin-top: 5%;
    z-index: 3;

    border-radius: 10px;

    width: 80%;
    height: 65%;
  }

  .titulo,
  .data_emprestimo,
  .data_prevista,
  .campocobranca,
  .cobranca {
    width: 90%;
    font-size: 1rem;
  }

  .foto {
    width: 90%;
    height: 80%;
  }

  .formulario {
    width: 100%;
    height: 100%;

    margin: 0;
    margin-top: 5%;
  }

  .container-cmenu {
    background: var(--branco-bg);
    width: 100%;
    padding: 2%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  #cmenu {
    width: 90px;
    height: 90px;

    position: relative;
    align-items: center;

    top: 0;
    left: 0;
  }

  .back1 {
    width: 90%;
  }

  .form-container {
    height: 99.5%;
    bottom: 5.3%;
  }

  #icon-fechar {
    width: 6%;
  }

  #cadastro h1 {
    margin-top: 20%;
    width: 100%;
    font-size: 1.5rem;
  }

  .aviso {
    order: 1;
    height: 100%;
    margin: 0;
  }

  #btn-emprestar {
    width: 100%;
  }
}
