@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@200;300;400;500;600&display=swap');

:root {
    /* font */
    --lexend: 'Lexend', sans-serif;
    --lexend-giga: 'Lexend Giga', sans-serif;

    /* cores */
    --livro-bg-color: linear-gradient(to bottom, #8CC7A5 70%, #A8DABD 80%);
    --livro-bg2-color: linear-gradient(#E0FFED, #C8FFDF);
    --offwhite: #FEFAE0;
    --green: #283618;
    --light-green: #606C38;
    --med-green: #3F5525;
    --orange: #BC6C25;
    --med-orange: #d35d40;
    --light-orange: #DDA15E;

    --branco-bg: rgba(255, 255, 255, 72%);
    --preto-txt: #464646;
    --blue-txt: #3E8BA3;
    --gradient-header: linear-gradient(#73B5C3, #58A5BF);
    --gradient-background: linear-gradient(to bottom, #4BBED7 1%, #A3C4B1 18%, #AAE1C1 100%);
    --blue: #73B5C3;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: rgb(0, 0, 56);
    font-family: var(--lexend);
}

header {
    width: 100%;
    height: 15%;

    background: var(--gradient-header);
    color: white;

    padding-top: 30px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 17%;
}

.icon-usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;

    font-family: var(--lexend-giga);
}

@keyframes aparecer {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

}

.error {
    position: absolute;
    color: #EA5959;
    font-weight: bold;
    font-size: 0.8vw;
    margin-left: 4%;
    animation-name: aparecer;
    animation-duration: 0.5s;
}

@keyframes aparecer {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.formulario {
    margin-top: 2%;
    margin-left: 1.5%;
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
}

#icon {
    transition-duration: 0.5s;
}

#icon:hover {
    width: 33%;
}

/* add button */
#cmenu {
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    text-align: center;

    position: absolute;
    top: 84%;
    right: 8%;

    background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, #A9DFC0, #71C0C6) border-box;
    border-radius: 50%;
    border: 4px solid transparent;

    cursor: pointer;
}

#cmenu p {
    position: relative;
    top: 1vw;

    font-family: var(--lexend);
    font-weight: 300;
    font-size: 36px;
    color: var(--preto-txt);

    border-radius: 50%;

    cursor: pointer;
}

/* modal preencher campos */
#menudrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    position: absolute;
    top: 0px;
    left: -100%;
    color: white;
}

#menu {
    display: none;
}

.back {
    width: 100%;
    height: 100%;
    background-color: rgba(3, 0, 48, 0.195);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* modal adicionar livro */
.back1 {
    width: 40%;
    height: 90%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.20);
    background: linear-gradient(150deg, #64ACC1 2%,#C6F4DA 48%,#C6F4DA 59%,#E7F7EE 100%);    
}

.form-container {
    width: 80%;
    height: 99.7%;

    position: relative;
    left: 11%;
    bottom: 5.7%;

    background-color: rgba(3, 0, 48, 0.195);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    overflow: hidden;
}

#cadastro {
    background-color: #F2FFF8;
}

/* "preencha os campos abaixo" */
#cadastro h1 {
    width: 60%;
    text-align: center;
    
    position: relative;
    bottom: 1.5vw;
    margin-bottom: 10%;
    
    color: var(--preto-txt);
    font-weight: 500;
    font-size: 36px;
    text-wrap: wrap;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::placeholder {
    color: #6CB2C3;
    font-family: var(--lexend);
    font-weight: 500;
}

.titulo_autor,
.valors,
.imgs,
.aviso,
.buttons {
    width: 80%;
    height: 7%;
    margin: 1%;
    display: flex;
    align-items: center;
}

.aviso {
    margin-top: 1.5vw;
}

#titulo,
#autor,
#image,
#valor {
    transition: width 0.4s ease-in-out;
    border-radius: 1%;
    border: none;
    background-color: rgba(102, 51, 153, 0);
    border-bottom: 0.35vh solid #6282BF;
    color: #6CB2C3;
    font-size: 20px;
    outline: none;
}

#titulo,
#autor,
#image,
#valor {
    width: 60%;
    height: 80%;
    margin-left: 5%;
}

#aviso-data {
    width: 90%;
    height: 80%;
    padding-left: 7%;

    font-size: 20px;
    color: var(--preto-txt);
}

#titulo:focus,
#autor:focus,
#valor:focus,
#image:focus {
    width: 90%;
    border-bottom: 0.4vh solid #6282BF;
}


::-webkit-calendar-picker-indicator {
    background-image: url(./Assets/Ícones/icone-calendario.png);
    background-size: 1vw;
    cursor: pointer;
    transition-duration: 0.3s;
}

::-webkit-calendar-picker-indicator:hover {
    background-size: 0.9vw;
}

#data_empestimo:invalid {
    background-color: black;
}

#data_emprestimo:valid {
    border-bottom: 0.4vh solid var(--green);
    color: var(--green);
}

#valor::-webkit-outer-spin-button,
#valor::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 7vw;
}

/* button emprestar */
#btn-emprestar {
    width: 40%;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;

    font-size: 32px;
    font-family: var(--lexend);
    font-weight: 500;

    color: #FFFFFF;
    background-color: #80C0C8;
    box-shadow: 5px 5px 5px rgba(14, 26, 119, 0.166);
    transition-duration: 0.5s;
}

#btn-emprestar:hover {
    background-color: hsl(186, 49%, 60%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.166);
}

#menu:checked~#menudrop {
    left: 0%;
    animation-name: tran;
    animation-duration: 1s;
    overflow: hidden;
}

@keyframes tran {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

main {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradient-background);
}

.workspace {
    width: 90%;
    height: 100%;

    margin-top: 6%;
    padding: 2%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;

    background-color: var(--branco-bg);

    /* transition-duration: 1s;
    animation-name: aparecer;
    animation-duration: 2s; */
}

#workspace-text {
    font-size: 45px;
    font-family: var(--lexend);
    font-weight: 300;
    color: var(--blue-txt);
    
    width: 70vw;
    margin: 12vw 10vw;

    text-align: start;
}

@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.workspace::-webkit-scrollbar {
    width: 0vw;
    height: auto;
}

.modelo {
    width: 17%;
    height: 60%;
    background: var(--livro-bg-color);
    border-radius: 0.5vw;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.100);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3.3%;
    margin-bottom: 4%;
    transition-duration: 0.3s;
}

/* .modelo:hover {
    width: 30.5%;
    height: 50.5%;
    margin-right: 2.8%;
    margin-bottom: 2%;
} */


.card {
    display: none;
}

.asset {
    width: 80%;
    height: 90%;
    background: var(--livro-bg2-color);
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 4%;
    align-items: center;
    font-size: 1vw;
    color: black;
}

/* .marcadorpag {
    order: 2;

    width: 15px;
    height: 50vh;
    border-radius: 40px;
    background-color: transparent;

    background-image: url(./Assets/IMG/modelo-side/component.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 50% left;
} */

.foto {
    width: 10vw;
    height: 10vw;
    border-radius: 5px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.titulo {
    order: -1;
    
    font-family: var(--lexend);
    font-weight: 700;

    width: 90%;
    height: 25%;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    font-weight: bold;
    font-size: min(0.9rem);
    max-width: max-content;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.data_emprestimo,
.data_prevista {
    width: 90%;
    height: 17%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    font-size: 0.8vw;
}

/* .ee1img {
    content: url('./Assets/Ícones/');
    width: 15%;
} */

.ee2img,
.ee3img,
.ee4img {
    content: url('./Assets/Ícones/asset-calendar.png');
    width: 13%;
}

.eee1img {
    content: url('./Assets/Ícones/asset-valor.png');
    width: 13%;
}

/* .campocobranca {
    margin-top: 3%;
    width: 90%;
    height: 23%;
    font-size: 0.8vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cobranca {
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    
    background: linear-gradient(to bottom right, #80C0C8 10%, #B7E8EE);
    color: var(--offwhite);

    font-weight: ita;
    
    margin-top: 3%;
    padding: 4%;
    overflow: hidden;
} */

.btn_renovar {
    margin-top: 3%;
    width: 90%;
    height: 23%;
    font-size: 0.8vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn {
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    
    background: linear-gradient(to bottom right, #80C0C8 10%, #B7E8EE);
    color: var(--offwhite);

    font-weight: ita;
    
    margin-top: 3%;
    padding: 4%;
    overflow: hidden;
}