@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --lexend-deca: "Lexend Deca", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: var(--lexend-deca);
  font-weight: 600;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #393939;
}

.container {
  width: 70%;
  height: 90%;

  border-radius: 1rem;

  display: flex;
  background-color: #ffbc7a;
}

/* container dos botões */
.container-btns {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  row-gap: 5%;

  background-image: url('./Assets/IMG/linha.png');
  background-size: contain;
  background-position: bottom 5% right;
  background-repeat: no-repeat;
}

/* botões */
.btn {
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
  
  display: flex;
  justify-content: center;
}

.btn button {
  border: none;
  background-color: #fff9eb;
  
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
  width: 18rem;
  padding: 1.5ch 1ch;
  
  font-size: 2rem; 
  
  color: #393939;
  cursor: pointer;
}

.login {
  background-color: #fff9eb;
}

.cadastrar button {
  background-color: transparent;
  color: #fff9eb;
}

.cadastrar button:hover {
  background-color: #fff9eb;
  color: #393939;
  transition: all .2s ease;
}

a:focus-visible,
a:active,
a {
  text-decoration: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.container-info {
  width: 70%;
  background-color: #fff9eb;

  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

form {
  width: 80%;
  margin-bottom: 5%;
}

.info {
  display: flex;
  justify-content: start;
  margin: 3rem 0;

  border-bottom: 5px solid #D9D9D9;
}

.erro {
  /* margin-top: 2%; */
  font-size: 1.875rem;
  color: #FF9D9D;
}

.info img {
  margin: 3%;
  width: 3rem;
}

.info input {
  border: none;
  background-color: transparent;
  margin-left: 3%;

  font-size: 2rem;
  color: #393939;
}

input:focus-visible {
  outline: none;
}


input::placeholder {
  color: #BFBFBF;
}

.submit {
  display: flex;
  justify-content: center;
}

#entrar-btn {
  border: none;
  padding: 0.5ch 1.5ch;
  background-color: #FFBC7A;
  border-radius: 5rem;
  box-shadow: 2px 8px 4px rgb(255, 227, 172, 0.54);
  
  color: #FFFFFF;
  font-size: 2rem;  

  cursor: pointer;
}