@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;200;300;400;600;700;800;900&display=swap');

:root {
  --lexend-deca: "Lexend Deca", sans-serif;
  --lexend-exa: 'Lexend Exa', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  font-family: var(--lexend-deca);
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #393939;
}

.container {
  width: 70%;
  height: 90%;

  overflow: hidden;

  border-radius: 1rem;

  display: flex;
  background-color: #ffbc7a;
}

/* container com mensagem */
.container-msg {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-image: url('./Assets/IMG/linha.png');
  background-size: contain;
  background-position: top 5% right;
  background-repeat: no-repeat;
}

/* mensagens */
.msg {  
  display: flex;
  text-align: center;
  margin: 10%;

  color: #fff9eb;
  font-size: 2rem;
}

.livro {
  transition: scale 1s ease;
}

.livro:hover {
  scale: 120%;
  cursor: pointer;
}

.bemvindo {
  color: #fff9eb;  
  font-size: 2.25rem;
  font-family: var(--lexend-exa);
  font-weight: 800;
}


/* container login */
.container-info {
  width: 70%;
  background-color: #fff9eb;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

form {
  width: 80%;
  margin-bottom: 20%;
}

.info {
  display: flex;
  justify-content: start;
  margin: 5rem 0;

  border-bottom: 5px solid #D9D9D9;
}

.erro {
  margin-top: 20%;
  font-size: 1.875rem;
  color: #FF9D9D;
}

.info img {
  margin: 3%;
  width: 3rem;
}

.info input {
  border: none;
  background-color: transparent;
  margin-left: 3%;

  font-family: var(--lexend-deca);
  font-weight: 600;

  font-size: 2rem;
  color: #393939;
}

input:focus-visible {
  outline: none;
}


input::placeholder {
  color: #BFBFBF;
}

.submit {
  display: flex;
  justify-content: center;
}

#entrar-btn {
  font-family: var(--lexend-deca);
  font-weight: 600;
  
  border: none;
  padding: 0.5ch 3ch;
  margin-top: 5%;
  background-color: #FFBC7A;
  border-radius: 5rem;
  box-shadow: 2px 8px 4px rgb(255, 227, 172, 0.54);
  
  color: #FFFFFF;
  font-size: 2rem;  

  cursor: pointer;
}