@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@200;300;400;500;600&display=swap");

:root {
  /* font */
  --lexend: "Lexend", sans-serif;
  --lexend-giga: "Lexend Giga", sans-serif;

  /* cores */
  --livro-bg-color: linear-gradient(to bottom, #1d78b5 20%, #5ec5db 80%);
  /* --livro-bg2-color: linear-gradient(to right, #92D4E2 1%, #D2EDFF 3%); */
  --livro-bg2-color: #d2edff;
  --branco-bg: rgba(255, 255, 255, 72%);
  --gradient-bg: linear-gradient(
    to bottom,
    #71b0ea 0.5%,
    #6bc3c9 25%,
    #aae1e1 100%
  );
  --header-bg: #4a77ce;
  --offwhite: #fefae0;
  --green: #283618;
  --preto-txt: #464646;
  --blue-txt: #3e8ba3;
  --blue: #73b5c3;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: rgb(0, 0, 56);
  font-family: var(--lexend);
}

header {
  width: 100%;
  height: 15%;

  background: var(--header-bg);
  color: white;

  padding-top: 30px;
  align-items: center;
}

.header-content {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

#header-txt {
  font-size: 3rem;
}

@keyframes aparecer {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.error {
  position: relative;
  top: 5%;

  color: #ea5959;
  font-weight: bold;
  font-size: 0.8vw;
  margin-left: 4%;
  margin-bottom: 15%;
  animation-name: aparecer;
  animation-duration: 0.5s;
}

@keyframes aparecer {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.titulo_autor,
.valors,
.imgs,
.buttons {
  width: 80%;
  height: 7%;
  margin: 1%;
  display: flex;
  align-items: center;
}

#titulo,
#autor,
#image,
#valor {
  transition: width 0.4s ease-in-out;
  border-radius: 1%;
  border: none;
  background-color: rgba(102, 51, 153, 0);
  border-bottom: 0.35vh solid #6282bf;
  color: #6cb2c3;
  font-size: 20px;
  outline: none;
}

#titulo,
#autor,
#image,
#valor {
  width: 60%;
  height: 80%;
  margin-left: 5%;
}

#titulo:focus,
#autor:focus,
#valor:focus,
#image:focus {
  width: 90%;
  border-bottom: 0.4vh solid #6282bf;
}

::-webkit-calendar-picker-indicator {
  background-image: url(./Assets/Ícones/icone-calendario.png);
  background-size: 1vw;
  cursor: pointer;
  transition-duration: 0.3s;
}

::-webkit-calendar-picker-indicator:hover {
  background-size: 0.9vw;
}

#data_empestimo:invalid {
  background-color: black;
}

#data_emprestimo:valid {
  border-bottom: 0.4vh solid var(--green);
  color: var(--green);
}

#valor::-webkit-outer-spin-button,
#valor::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* button emprestar */
@keyframes tran {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

main {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient-bg);
}

.workspace {
  width: 90%;
  height: 100%;

  margin-top: 6%;
  padding: 2%;
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  background-color: var(--branco-bg);
}

#workspace-text {
  font-size: 45px;
  font-family: var(--lexend);
  font-weight: 300;
  color: var(--blue-txt);

  width: 70vw;
  margin: 15vw 10vw;

  text-align: center;
}

@keyframes aparcecer {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.workspace::-webkit-scrollbar {
  width: 0vw;
  height: auto;
}

.modelo {
  width: 19%;
  height: 56%;
  background: var(--livro-bg-color);
  border-radius: 0.5vw;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);

  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-right: 5%;
  margin-bottom: 5%;
  margin-top: 1%;
  
  transition-duration: 0.3s;
}

.modelo:hover {
  width: 19.5%;
  height: 57%;
}

.card {
  display: none;
}

.asset {
  width: 90%;
  height: 93%;
  background: var(--livro-bg2-color);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 2%;

  align-items: center;
  font-size: 1rem;
  color: black;

  position: relative;
}

.marcadorpag {
  content: url(./Assets/IMG/componente/componente.png);

  position: absolute;
  bottom: 97%;
  width: 50%;

  z-index: -1;
}

.marcadorpag2 {
  content: url(./Assets/IMG/componente/componente.png);

  position: absolute;
  bottom: 97%;
  width: 50%;

  z-index: -1;
}

.foto {
  width: 10vw;
  height: 15vw;
  border-radius: 5px;

  margin-top: 1%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.titulo {
  font-family: var(--lexend);
  font-weight: 700;
  font-size: min(0.9rem);

  width: 90%;
  height: 25%;
  max-width: max-content;
  margin-top: 5%;
  order: -1;

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  overflow: hidden;
  overflow-y: visible;
}

.id_cliente {
  display: flex;
  align-items: center;

  margin-top: 7%;
  margin-bottom: 5%;

  width: 80%;
}

.data_emprestimo,
.data_prevista,
.data_devolucao {
  width: 85%;
  height: 15%;

  margin-bottom: 8%;
  margin-left: 5%;

  display: flex;
  align-items: center;
  overflow: visible;
  font-size: 1rem;
}

.ee1img {
  content: url("./Assets/Ícones/icone-cliente-id.png");
  width: 15%;
}

.ee1bimg {
  content: url("./Assets/Ícones/icone-cliente-id.png");
  width: 15%;
}

.ee2img,
.ee3img,
.ee4img {
  content: url("./Assets/Ícones/asset-calendar.png");
  width: 13%;
}

.ee2bimg,
.ee3bimg,
.ee4bimg {
  content: url("./Assets/Ícones/asset-calendar.png");
  width: 13%;
}

.campocobranca {
  width: 85%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin-bottom: 8%;
}

.valor-original,
.cobranca {
  width: 85%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  gap: 3%;
}

.eee1img,
.eee2img {
  width: 1.6rem;
  height: 1.6rem;
}

.eee1img {
  content: url("./Assets/Ícones/asset-valor.png");
}

.eee2img {
  content: url("./Assets/Ícones/asset-valor-2.png");
}

/* deletar-btn */
.eee3img {
  content: url("./Assets/IMG/fechar-btn.png");
  width: 45%;
  margin-left: 4%;
}

/* editar-btn */
.eee4img {
  content: url("./Assets/IMG/editar-btn.png");
  width: 55%;
}

.side-btns {
  width: 100%;
  height: 100%;
}

.btn_deletar,
.btn_editar {
  width: 30%;
  position: absolute;
  left: 99%;
  top: 10%;

  cursor: pointer;
}

.btn_editar {
  top: 20%;
}

.form-container {
  width: 90%;
  height: 93%;
  background: var(--livro-bg2-color);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  margin-top: 2%;

  position: relative;

  font-size: 1rem;
  color: black;
}

.form-container input {
  font-family: var(--lexend);
  font-size: 1rem;

  width: 70%;
  background: none;
  border: none;
  border-bottom: 3px solid #4a77ce;
  align-items: center;
  justify-content: center;

  margin-left: 5%;
}

.form-container input:focus-visible {
  outline: none;
}

.form-container input::placeholder {
  color: #747474;
  font-size: 1rem;
}

.cobranca input {
  position: relative;
  margin-right: 10%;
}

.cobranca input::-webkit-inner-spin-button {
    display: none;
}

.eee2bimg {
  content: url(./Assets/Ícones/asset-valor.png);
  width: 12.5%;
  position: relative;
  left: 3%;
}

.btns-cancel-att {
  width: 80%;
  height: 30%;
  gap: 5%;
  margin-top: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.btn-atualizar,
.btn-cancelar {
  width: 7rem;
  height: 2rem;

  font-family: var(--lexend);

  background: #4a77ce;
  color: white;

  border-radius: 0.3rem;
  border: none;

  cursor: pointer;
}
