:root {
    --inter: 'Inter', sans-serif;

    --livro-bg-color: #542E20;

    --offwhite: #FEFAE0;
    --green: #283618;
    --light-green: #606C38;
    --med-green: #3F5525;
    --orange: #BC6C25;
    --med-orange: #d35d40;
    --light-orange: #DDA15E;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: rgb(0, 0, 56);
    font-family: var(--inter);
}

header{
    width: 100%;
    height: 10%;
    background-color: var(--orange);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes aparecer {
    from {opacity: 1;}
    to {opacity: 0;}
    
}

.error{
    position: absolute;
    color: var(--offwhite);
    font-weight: bold;
    font-size: 0.8vw;
    margin-left: 4%;
    animation-name: aparecer;
    animation-duration: 0.5s;
}

@keyframes aparecer {
    from {opacity: 1;}
    to {opacity: 0;}    
}

.formulario{
    margin-top: 2%;
    margin-left: 1.5%;
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
}

#icon{
    transition-duration: 0.5s;
}

#icon:hover{
    width: 33%;
}

#cmenu{
    width: 20%;
    height: 20%;
    position: absolute;
    top: 85%;
    right: -10%;
}

#menudrop{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    top: 0px;
    left: -100%; /*a div do menudrop virá da esquerda*/
    color: white;
}

#menu{
    display: none; /* deixa invisivel o checkbox*/
}

.back{
    width: 100%;
    height: 100%;
    background-color: rgba(3, 0, 48, 0.195);
    display: flex;
    justify-content: center;
    align-items: center;
}

.back1{
    width: 43%;
    height: 80%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.20);
    background: var(--light-green);
}

form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::placeholder{
    color: var(--offwhite);
    font-family: var(--inter);
}

.titulo_autor, .datas, .valors, .imgs, .buttons{
    width: 80%;
    height: 7%;
    margin: 1%;
    display: flex;
    align-items: center;
}

#titulo, #autor{
    transition: width 0.4s ease-in-out;
    border-radius: 1%;
    border: none;
    background-color: rgba(102, 51, 153, 0);
    border-bottom: 0.35vh solid var(--offwhite);
    color: var(--offwhite);
    font-size: 1vw;
    outline: none;
}

#titulo{
    width: 60%;
    height: 80%;
    background-image: url(../Assets/icon_titulo.png);
    background-position: 0.2vw 0.5vh;
    background-size: 1.5vw;
    background-repeat: no-repeat;
    padding-left: 7%;  
}

#autor{
    width: 50%;
    height: 80%;
    background-image: url(../Assets/icon_user.png);
    background-position: 0.2vw 0.5vh;
    background-size: 1.3vw;
    background-repeat: no-repeat;
    padding-left: 7%;  
}

#titulo:focus, #autor:focus{
    width: 90%;
    border-bottom: 0.4vh solid var(--offwhite);
}

.datas{
    display: flex;
    justify-content: end;
}

#data_emprestimo, #data_prevista, #data_devolucao{
    width: 30%;
    height: 60%;
    outline:none;
    border: none;
    padding-left: 2%;
    background-color: #00000000;
    font-size: 0.9vw;
    color: var(--offwhite);
    border-bottom: 0.4vh solid var(--offwhite);
    border-radius: 5%;
    font-weight: bold;
}

::-webkit-calendar-picker-indicator{
    background-image: url(../Assets/icon_calendar.png);
    background-size: 1vw;
    cursor: pointer;
    transition-duration: 0.3s;
}

::-webkit-calendar-picker-indicator:hover{
    background-size: 0.9vw;
}

#data_empestimo:invalid{
    background-color: black;
}

#data_emprestimo:valid{
    border-bottom: 0.4vh solid var(--green);
    color: var(--green);
}

#valor{
    width: 30%;
    height: 80%;
    background-image: url(../Assets/icon_moeda.png);
    background-position: 0.2vw 0.5vh;
    background-size: 1.3vw;
    background-repeat: no-repeat;
    padding-left: 7%; 
    transition: width 0.4s ease-in-out;
    border-radius: 1%;
    border: none;
    background-color: rgba(102, 51, 153, 0);
    border-bottom: 0.35vh solid var(--offwhite);
    color: white;
    font-size: 1vw;
    outline:none;
}

#valor:focus{
    width: 25%;
    border-bottom: 0.4vh solid var(--offwhite);
}

#valor::-webkit-outer-spin-button,
#valor::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#image{
    width: 60%;
    height: 80%;
    background-image: url('../Assets/icon_image.png');
    background-position: 0.2vw 0.5vh;
    background-size: 1.3vw;
    background-repeat: no-repeat;
    padding-left: 7%; 
    transition: width 0.4s ease-in-out;
    border-radius: 1%;
    border: none;
    background-color: rgba(102, 51, 153, 0);
    border-bottom: 0.35vh solid var(--offwhite);
    color: var(--offwhite);
    font-size: 1vw;
    outline:none;
}

#image:focus{
    width: 90%;
    border-bottom: 0.4vh solid var(--offwhite);
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

#button{    
    width: 30%;
    height: 100%;
    border: none;
    outline:none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1vw;
    color: var(--offwhite);
    background-color: var(--green);
    font-family: var(--inter);
    box-shadow: 5px 5px 5px rgba(14, 26, 119, 0.166);
    transition-duration: 0.5s;
}

#button:hover{
    background-color: var(--med-green);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.166);
}

#menu:checked ~ #menudrop { /*aqui mudará quando clicar*/
   left: 0%;
   animation-name: tran;
   animation-duration: 1s;
   overflow: hidden;
}

@keyframes tran {
    from {opacity: 0;}
    to {opacity: 1;}
}

main{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-orange);
}

.workspace{
    width: 90%;
    height: 90%;
    background-color: #606C38;
    border-radius: 20px;
    transition-duration: 1s;
    padding: 2%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    /* animation-name: aparecer;
    animation-duration: 2s; */
}

@keyframes aparecer {
    from {opacity: 0;}
    to {opacity: 1;}    
}

.workspace::-webkit-scrollbar{
    width: 0vw;
    height: auto;
}

.modelo{
    width: 30%;
    height: 50%;
    background-color: var(--livro-bg-color);
    border-radius: 40px;
    box-shadow: 8px 8px 8px rgba(57, 8, 126, 0.297);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3.3%;
    margin-bottom: 4%;
    transition-duration: 0.3s;
}

.modelo:hover{
    width: 30.5%;
    height: 50.5%;
    margin-right: 2.8%;
    margin-bottom: 2%;
}


.card{
    display: none;
}

.asset, .info{
    width: 40%;
    height: 85%;
    background-color: var(--offwhite);
    border-radius: 10px;
}

.asset{
    margin-right: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    color: black;
}

.marcadorpag{
    width: 34px;
    height: 40px;
    background-color: var(--green);
    border-radius: 40px;
    background-image: url(../Assets/icon_close.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    margin-top: -8%;
    margin-right: 100%;
    margin-bottom: 1%;
    cursor: pointer;
}

.foto{
    width: 90%;
    height: 100%;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.titulo{
    width: 90%;
    height: 25%;
    text-align: center;
    align-items: center;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    font-weight: bold;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.autor, .data_emprestimo, .data_prevista, .data_devolucao{
    width: 90%;
    height: 17%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    font-size: 0.8vw;
}

.ee1img{
    content:url('../Assets/icon_user.png');
    width: 15%;
}

.ee2img, .ee3img, .ee4img{
    content:url('../Assets/icon_calendar.png');
    width: 13%;
}

.eee1img{
    content: url('../Assets/icon_moeda.png');
    width: 15%;
}

.campocobranca{
    margin-top: 3%;
    width: 90%;
    height: 23%;
    font-size: 0.8vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cobranca{
    width: 100%;
    height: 55%;
    background-color: var(--med-green);
    border-radius: 20px;
    color: var(--offwhite);
    display: flex;
    align-items: center;
    overflow-x: hidden;
    font-weight: ita;
    margin-top: 3%;
    padding: 4%;
    overflow: hidden;
}