/* variáveis */
:root {
  --lexend-zetta: "Lexend Zetta", sans-serif;
  --lexend-deca: "Lexend Deca", sans-serif;

  --preto-bg: #393939;
  --branco: #fff9eb;
  --laranja: #ffbc7a;

  --erro-msg: #ff9d9d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--lexend-deca);
  background-color: var(--preto-bg);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  align-items: center;

  margin: 4% 50%;
  width: 1184px;
  height: 797px;
  overflow: hidden;

  background-color: #ffbc7a;
  box-shadow: 0px 6px 4px #00000021;

  border-radius: 10px;
}

.box p {
  font-size: 32px;
  padding-left: 60px;
}

.buttons {  
  margin: 33vh 7vw;
  width: 20vw;
  cursor: pointer;
}

#cadastrar-se,
#login {
  text-align: center;

  padding: 30px 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#login {
  color: var(--branco);
  margin-bottom: 2vh;
}

#login:hover {
  animation: hover 0.2s ease 0s forwards;
}

#cadastrar-se {
  background-color: var(--branco);
  color: var(--preto-bg);
}

@keyframes hover {
  100% {
    background-color: var(--branco);
    color: var(--preto-bg);
  }
}

.info {  
  background-color: var(--branco);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  position: absolute;

  top: 8.1vh;
  right: 19.1vw;

  width: 38vw;
  height: 83.4vh;

  gap: 30px;
}

a:focus-visible,
a:active,
a {
  text-decoration: none;
  border: none;
  outline: none;
  box-shadow: none;
}

#erro {
  font-size: 30px;
  color: #ff9d9d;
  margin-bottom: 5vh;
}

/* inputs */
input {
  font-family: var(--lexend-deca);
  color: #393939;
  font-size: 30px;

  background: none;
  border: none;

  width: 23vw;
  margin: 18px 10px;
}

input:focus-visible {
  outline: none;
}

input::placeholder {
  color: #bfbfbf;
}

form {
  margin: 0 5vw;
}

/* email e senha c/ os ícones */
.inputform {
  border-bottom: 7px solid #d9d9d9;
  margin-bottom: 5vh;
}

/* botão entrar */
button {
  color: #ffffff;
  background-color: #ffbc7a;

  font-family: var(--lexend-deca);
  font-size: 32px;

  border-radius: 50px;

  border: none;

  box-shadow: 2px 8px 4px rgb(255, 227, 172, 0.54);

  width: 12vw;
  height: 7vh;

  cursor: pointer;
}

/* linha atrás dos links */
#linha {
  position: absolute;
  bottom: 11vh;
  left: 19.15vw;

  width: 23.7vw;
  height: 20vh;
}


#btnRegistrar {
  color: #ffffff;
  background-color: #ffbc7a;

  font-family: var(--lexend-deca);
  font-size: 32px;

  border-radius: 50px;

  border: none;

  box-shadow: 2px 8px 4px rgb(255, 227, 172, 0.54);

  width: 12vw;
  height: 7vh;

  cursor: pointer;
}