@import url(./style.css);

/* extra small screens */
@media (max-width: 475px) {}

/* small screens */
@media (max-width: 640px) {}

/* medium screens */
@media (max-width: 768px) {
    .page {
        width: 10%;
    }
}

/* large screens */
@media (max-width: 1024px) {
    .page {
        width: 10%;
    }
}

/* extra large screens */
@media (max-width: 1280px) {
    .page {
        width: 10%;
    }
}

/* 2 extra large screens */
@media (max-width: 1536px) {}