/* variáveis */
:root {
    --lexend-zetta: 'Lexend Zetta', sans-serif;
    --lexend-deca: 'Lexend Deca', sans-serif;

    --black-bg: #393939;
    --branco:#FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* background */
body {
    background-color: var(--black-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page {
    align-items: center;

    margin: 1vw 10vw;
    width: 97.7vw;
    height: 95vh;

    background: linear-gradient(to bottom, #FFE090 20%, #FED287 50%, #FCB774 75%);
    box-shadow: 5px 6px #00000021;

    border-radius: 10px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 6vh;
}

/* header title */
header h1 {
    font-family: var(--lexend-zetta);
    text-shadow: 0px 4px 4px rgba(216, 114, 14, 0.28);
    color: var(--branco);
    font-size: 96px;    
}

/* remove o underline dos links */
a {
    text-decoration: none;
}

#img01 {
    position: absolute;

    top: 6vh;
    left: 3vw;
}

#img02 {
    position: absolute;

    top: 40vh;
    right: 5vw;
}

/* div dos botões */
.buttons {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;

    gap: 38px;
    margin-top: 55vh;
    margin-right: 70vw;
}

/* estilização dos botões */
button {
    border: none;
    background: none;
    font-family: var(--lexend-deca);
    color: var(--branco);
    font-size: 32px;
}

#linha {
    position: absolute;
    bottom: 3vh;
    width: 97.72vw;
    height: 24vh;
}