/* variáveis */
:root {
  --lexend-zetta: "Lexend Zetta", sans-serif;
  --lexend-deca: "Lexend Deca", sans-serif;

  --black-bg: #393939;
  --branco: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #393939;
}

.page {
  width: 95%;
  height: 90%;

  justify-content: center;

  background: linear-gradient(to bottom, #ffe090 20%, #fed287 50%, #fcb774 75%);

  box-shadow: 0px 6px 4px #00000021;
  border-radius: 10px;
}

.linha {
  width: 95%;
  height: 40%;

  position: absolute;
  bottom: 5%;

  background-image: url('./Assets/IMG/linha.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;

  opacity: 0;
  animation: aparecer 1s ease forwards;
  animation-delay: 3s;
}

.resp {
  display: none;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 60vw;

  margin-top: 6vh;
  margin-left: 20vw;

  opacity: 0;
  animation: aparecer 1s ease forwards;
  animation-delay: .5s;
}

header h1 {
  font-family: var(--lexend-zetta);
  text-shadow: 0px 4px 4px rgba(216, 114, 14, 0.28);
  color: var(--branco);
  font-size: 96px;
}

#img01 {
  position: absolute;
  width: 30%;

  bottom: 37%;
  left: 10%;

  opacity: 0;

  transform: rotate(0deg) translateY(-10px);
  animation: 2s ease 1.5s forwards aparecer, float infinite 6s linear;
}

#img02 {
  position: absolute;
  z-index: 2;

  top: 35vh;
  right: 12vw;
  
  opacity: 0;

  transform: rotate(0deg) translateY(-10px);
  animation: 2s ease 1.5s forwards aparecer, float2 infinite 7s linear;
}

#img03 {
  display: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 1;

  gap: 60px;
  margin-top: 42vh;
  margin-right: 55vw;

  opacity: 0;
  animation: aparecer 1.5s ease forwards;
  animation-delay: 4s;
}

.link {
  border: none;
  background: none;

  font-size: 2rem;
  font-family: var(--lexend-deca);
  color: var(--branco);
}

.link:hover,
.link:focus {
  font-size: 2.5rem;
  transition: font-size 1s ease-in-out;
  cursor: pointer;
}

.link:focus,
a:focus-visible,
a:active,
a {
  text-decoration: none;
  border: none;
  outline: none;
  box-shadow: none;
}

/* keyframes */
@keyframes float {
  from {
    transform: rotate(0deg) translateY(-10px) rotate(0deg);
  } to {
    transform: rotate(360deg) translateY(-10px) rotate(-360deg);
  }
}

@keyframes float2 {
  from {
    transform: rotate(360deg) translateY(-10px) rotate(-360deg);
  } to {
    transform: rotate(0deg) translateY(-10px) rotate(0deg);
  }
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}