/* variáveis */
:root {
  --lexend-zetta: "Lexend Zetta", sans-serif;
  --lexend-deca: "Lexend Deca", sans-serif;

  --black-bg: #393939;
  --branco: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #393939;
}

.page {
  width: 95%;
  height: 90%;

  z-index: -1;

  justify-content: center;

  background: linear-gradient(to bottom, #ffe090 20%, #fed287 50%, #fcb774 75%);

  box-shadow: 0px 6px 4px #00000021;
  border-radius: 10px;
}

.linha {
  width: 95%;
  height: 40%;

  z-index: -1;

  position: absolute;
  bottom: 5%;

  background-image: url('./Assets/IMG/linha.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.resp {
  display: none;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 60vw;

  margin-top: 6vh;
  margin-left: 20vw;
}

header h1 {
  font-family: var(--lexend-zetta);
  text-shadow: 0px 4px 4px rgba(216, 114, 14, 0.28);
  color: var(--branco);
  font-size: 96px;
}

#img01 {
  position: absolute;
  width: 550px;

  z-index: -1;

  bottom: 40.5%;
  left: 7vw;
}

#img02 {
  position: absolute;

  top: 35vh;
  right: 12vw;
}

#img03 {
  display: none;
}

.buttons {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;

  gap: 60px;
  margin-top: 42vh;
  margin-right: 55vw;
}

.link {
  border: none;
  background: none;
  font-family: var(--lexend-deca);
  color: var(--branco);
  font-size: 32px;

  cursor: pointer;
}

.link a {
  border: none;
  background: none;
  font-family: var(--lexend-deca);
  color: var(--branco);
  font-size: 32px;
  cursor: pointer;
}

.link a:hover {
  animation: aumentar 1s;
  cursor: pointer;  
}

a {
  text-decoration: none;
  cursor: pointer;
}

@keyframes aumentar {
  50% {
    font-size: 35px;
  }
}