/* rascunho do código feito até 05/10 */

/* variáveis */
:root {
  --lexend-zetta: "Lexend Zetta", sans-serif;
  --lexend-deca: "Lexend Deca", sans-serif;

  --preto-bg: #393939;
  --branco: #fff9eb;
  --laranja: #ffbc7a;

  --erro-msg: #ff9d9d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* background */
body {
  font-family: var(--lexend-deca);
  background-color: var(--preto-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  align-items: center;

  margin: 4% 50%;
  width: 1184px;
  height: 797px;
  overflow: hidden;

  background-color: #ffbc7a;
  box-shadow: 0px 6px 4px #00000021;

  border-radius: 10px;
}

.box p {
  font-size: 32px;
  padding-left: 60px;
}

.info {
  background-color: var(--branco);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  position: absolute;

  top: 8vh;
  left: 19.1vw;

  width: 35vw;
  height: 82.8vh;

  gap: 35px;
}

a:focus-visible,
a:active,
a {
  text-decoration: none;
  border: none;
  outline: none;
  box-shadow: none;
}

#erro {
  font-size: 30px;
  color: #ff9d9d;
  margin-bottom: 3vh;
}

/* inputs */
input {
  font-family: var(--lexend-deca);
  color: #393939;
  font-size: 30px;

  background: none;
  border: none;

  width: 24vw;
  margin: 18px 20px;
}

input:focus-visible {
  outline: none;
}

input::placeholder {
  color: #bfbfbf;
}

/* email e senha c/ os ícones */
.inputform {
  border-bottom: 7px solid #d9d9d9;
  margin-bottom: 5vh;
}

/* botão entrar */
button {
  color: #ffffff;
  background-color: #ffbc7a;

  font-family: var(--lexend-deca);
  font-size: 32px;

  border-radius: 50px;

  border: none;

  box-shadow: 2px 8px 4px rgb(255, 227, 172, 0.54);

  width: 12vw;
  height: 7vh;

  cursor: pointer;
}

/* linha atrás dos links */
#linha {
  position: absolute;
  top: 11vh;
  right: 19.15vw;
  width: 27vw;
  height: 20vh;
}

.mensagem {
  max-width: 30rem;

  position: absolute;
  top: 20vw;
  left: 58vw;
  
  align-items: center;
  text-align: center;

  color: var(--branco);
}

.mensagem h3 {
}